/* Default CSS */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    color: #3a3a3a;
}
main, header{
    width: 85%;
    margin: auto;
}
.d-flex
{
    display: flex;
}

.header-logo{
    font-size: 25px;
    margin-top: 100px;
}
.default-btn{
    background-color: #e02c6d;
    font-size: 17px;
    font-weight: 700;
    border: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
}
/* Banner Section */
.banner-section{
    margin: 100px 0;
}
.banner-left , .banner-right{
    width: 50%;
}
.banner-left h1{
    font-size: 55px;
    margin: 0;
    line-height: 70px;
}
.banner-left p{
    font-size: 16px;
    margin: 20px 0 ;
}
.banner-right {
    display: flex;
    justify-content: right;
}

/* Collection */
.collection-section{
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collection div{
    box-shadow: -5px 5px 20px 5px #ddd;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}
.collection div img{
    width: 100%;
    max-width: 100%;
}
.collection div h1{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
}
.collection div h3{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
}
.collection div h4{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    color: #7a7a86;
}
.collection div p{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    color: #7a7a86;
}
.collection div span{
    color: #fb8200;
}


/* Footer Section */
.footer-section{
    background-color: #0a0826;
    color: #fff;
    text-align: center;
    padding: 40px 0px;
}
.social-icon span{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #22203b;
    font-size: 30px;
    margin: 0 8px;
    padding: 5px;
    border-radius: 50%;
}
