/* Default CSS */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
    margin: 0;
    padding: 0;
}
main, header{
    width: 85%;
    margin: auto;
}
.d-flex
{
    display: flex;
}
.default-btn{
    background-color: #e02c6d;
    font-size: 17px;
    font-weight: 700;
    border: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
}
/* Header */
.header{
    margin-top: 100px;
}
.header-logo{
    font-size: 25px;
    width: 58%;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    text-align: right;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    color: #3a3a3a;
    font-weight: 600;
}

/* Banner Section */
.banner-section{
    margin: 100px 0;
}
.banner-left{
   margin-top: 80px;
}
.banner-left , .banner-right, .top-footer-left, .top-footer-right{
    width: 50%;
}
.banner-left h1{
    font-size: 55px;
    margin: 0;
    line-height: 70px;
}
.banner-left p{
    font-size: 16px;
    margin: 20px 0 ;
}
.banner-right {
    text-align: right;
}


/* Collection */
.collection-item-section h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collection div{
    box-shadow: -5px 5px 20px 5px #ddd;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}
.collection div img{
    width: 100%;
    max-width: 100%;
}
.collection div h1{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    text-align: left;
}
.collection div h3{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
}
.collection div h4{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    color: #7a7a86;
}
.collection div p{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    color: #7a7a86;
}
.collection div span{
    color: #fb8200;
}

.collection-btn{
    text-align: right;
}
.bg-null{
    background-color: transparent;
    color: #e02c6d;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}
/* Footer top section */
.top-footer-left img{
    width: 80%;
}
.top-footer-left h1{
    font-size: 30px;
    margin-top: 30px;
}
.top-footer-right h3{
    font-size: 25px;
    margin-top: 50px;
    font-weight: 600;
    text-align: center;
}
form{
    margin-top: 0px;
}
input{
    padding: 10px;
    margin: 15px;
    width: 100%;
    border: none;
    box-shadow: 2px 3px 4px 5px #ddd;
    margin-left: 0;
}
.subscribe-btn{
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
}

/* Footer Section */
.footer-section{
    background-color: #0a0826;
    color: #fff;
    text-align: center;
    padding: 40px 0px;
}
.footer-section h1{
    font-size: 30px;
    margin: 0px;
}
.footer-section p{
    font-size: 16px;
    font-weight: 400;
    margin: 4px;
    color: #9595a4;
}
.footer-section span p{
    font-size: 14px;
    font-weight: 400;
    color: #9595a4;
}
.social-icon span{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #22203b;
    font-size: 30px;
    margin: 5px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 50%;
}
